parameters:
    database_host: "{{ database_host }}"
    database_port: "{{ database_port }}"
    database_name: "{{ database_name }}"
    database_user: "{{ database_user }}"
    database_password: "{{ database_password }}"
    mailer_transport: "{{ mailer_transport }}"
    mailer_host: "{{ mailer_host }}"
    mailer_user: "{{ mailer_user }}"
    mailer_password: "{{ mailer_password }}"
    mailer_encryption: "{{ mailer_encryption }}"
    mailer_port: "{{ mailer_port }}"
    secret: "{{ secret }}"
    enable_aui: "{{ enable_aui }}"
    url_wsdl: "{{ url_wsdl }}"
    paws_user: "{{ paws_user }}"
    paws_password: "{{ paws_password }}"
    app_user: "{{ app_user }}"
    app_password: "{{ app_password }}"
    intranet_access: "{{ intranet_access }}"
    attributs: "{{ attributs }}"
    equipes:
        - 'SUPERVISION CONFIG'
        - 'PERFORMANCE DATA'
    no-reply_mail: "{{ no_reply_mail }}"
    front_host: "{{ front_host }}"
    session_max_idle_time: "{{ session_max_idle_time }}"
    session.name: "{{ session_name }}"
    session.remember_me.name: "{{ session_remember_me_name }}"
    version: "{{ version }}"
    ldap_host: "{{ ldap_host }}"
    ldap_port: "{{ ldap_port }}"
    ldap_version: "{{ ldap_version }}"
    ldap_SSL: "{{ ldap_SSL }}"
    ldap_TLS: "{{ ldap_TLS }}"
    base_dn: "{{ base_dn }}"
    filter: "{{ filter }}"
    domain: "{{ domain }}"